
* {
  padding: 0;
  margin: 0;
}

.mt60 {
  margin-top: 60px;
}

.pl80 {
  padding-left: 80px;
}

.df {
  display: flex;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

.mr4 {
  margin-right: 4px;
}

.mb16 {
  margin-bottom: 16px;
}

.pointer {
  cursor: pointer;
}

u {
  text-decoration: underline;
}

code {
  font-family: monospace;
  background: #eee;
  padding: 3px;
}

.element-cursor {
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #666;
  animation: leafCursorAnimation 0.8s infinite;
}

.element-none {
  display: inline-block;
  width: 0;
  height: 0;
}

@keyframes leafCursorAnimation {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.hover-tool {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
  will-change: auto;
}

.left-hover {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: auto;
}