.mt100 {
  margin-top: 100px;
}

.df {
  display: flex;
}

.mr4 {
  margin-right: 4px;
}

.mb16 {
  margin-bottom: 16px;
}

u {
  text-decoration: underline;
}

code {
  font-family: monospace;
  background: #eee;
  padding: 3px;
}

.element-cursor {
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #666;
  animation: leafCursorAnimation 0.8s infinite;
}

.element-none {
  display: inline-block;
  width: 0;
  height: 0;
}

@keyframes leafCursorAnimation {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}